.project-image {
  height: 200px;
  max-height: 133px;
  margin: auto 0;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.project-image > .project-inner-image {
  width: 300px;
  height: 850px;
  background: url(file:///home/oscar/Documents/vert.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-image > #frasesdragonball {
  background-image: url(../images/screems/frasesdragonball.png);
}

.project-image > #orangetravelassist {
  background-image: url(../images/screems/orangetravelassist.png);
}
.project-image > #roanja {
  background-image: url(../images/screems/roanja.png);
}
.project-image > #treitus {
  background-image: url(../images/screems/treitus.png);
}
.project-image > #blac {
  background-image: url(../images/screems/blac.png);
}
.project-image > #linkup {
  background-image: url(../images/screems/linkup.png);
}
.project-image > #apreciodepana {
  background-image: url(../images/screems/apreciodepana.png);
}
.project-image > #urbaner {
  background-image: url(../images/screems/urbaner.png);
}

.project-image > #genderlab {
  background-image: url(../images/screems/genderlab.png);
}


.shadow-large:hover .project-inner-image {
  animation: moveSlideshow 50s linear infinite;
}
@keyframes moveSlideshow {
  100% { 
    transform: translateY(-66.6666%);  
  }
}
/*TEXT STYLE*/
.project.shadow-large {
    padding: 65px 0px 60px 10px;
}
.project-info p {
    text-align: justify;
}
/*Scroll Image*/
#scroll {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #3498db;
    text-indent: -9999px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
}
#scroll span {
    position: absolute;
    top: 60%;
    left: 40%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
    transform: rotate(270deg);
}
#scroll:hover {
    background-color:#e74c3c;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}